$color-primary: #b0b5b9;
$color-secondary: #3a424c;
$grey-100: #fdfdfd;
//$grey-300: #9ca4ab;
$grey-400: #c7cad1;
$grey-500: #6f7377;
$grey-600: #999999;
$blue-400: #1188ff;
$blue-600: #6b87bc;
$orange-600: #ab8143;

$font-family: "Open Sans", sans-serif;
