.text-align--center {
  text-align: center;
}

.align-items--center {
  align-items: center;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.place-items--center {
  place-items: center;
}

.flex {
  display: flex;
}

.margin-left--auto {
  margin-left: auto;
}
