@import "../../../assets/scss/config";
@import "../../../assets/scss/utilities";

.day-forecast {
  height: 50%;
  background: rgb(96, 118, 136);
  background: linear-gradient(
    172deg,
    rgba(96, 118, 136, 1) 12%,
    rgba(141, 166, 187, 1) 46%,
    rgba(153, 153, 153, 1) 68%,
    rgba(97, 99, 101, 1) 91%
  );

  &__header {
    display: flex;
    padding-right: 1rem;
    background-color: $color-secondary;
  }

  &__body {
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1.5fr 2fr;
    height: 85%;
    place-items: center;

    &-temp {
      font-size: 5rem;
      align-self: end;
    }

    &-location {
      font-size: 1.5rem;
      align-self: end;
    }

    &-description {
      display: flex;
      align-self: start;

      p {
        align-self: center;
        font-size: 1.125rem;
      }
    }
  }
}
