@import "../../assets/scss/config";
@import "../../assets/scss/utilities";

.header {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 2px;
  padding: 20px 0px 10px 0px;
  height: 10%;
  @extend .text-align--center;

  &-item--dark {
    color: $grey-600;
  }
}
