@import "../../assets/scss/config";
@import "../../assets/scss/utilities";

.search-input {
  display: grid;
  position: relative;
  padding-bottom: 15px;

  input[type="text"],
  textarea {
    background-color: $grey-500;
    border: 1px solid $blue-400;
    border-radius: 5px;
    color: white;
    margin: 8px 20px 0px 20px;
    padding: 0px 35px;
    height: 30px;
  }

  .fa {
    color: $grey-100;
    top: 15px;
    position: absolute;

    &-search {
      left: 26px;
    }

    &-times-circle {
      right: 26px;
    }
  }
}

.cities {
  padding-left: 26px;
  background-color: $grey-500;

  &-item {
    font-size: 18px;
    padding: 15px 15px 15px 0px;
    color: $grey-400;
    border-bottom: 1px solid $grey-400;

    &--highlighted {
      color: $grey-100;
    }
  }
}
