@import "../../../assets/scss/config";
@import "../../../assets/scss/utilities";

.week-forecast {
  padding: 0.625rem 0rem 0rem 0rem;
  display: flex;
  background: rgb(111, 115, 119);
  background: linear-gradient(172deg, rgba(111, 115, 119, 1) 0%, rgba(68, 73, 90, 1) 27%, rgba(151, 155, 164, 1) 63%);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
