@import "./assets/scss/config";
@import "./assets/scss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-secondary;
  font-family: $font-family;
  line-height: 17px;
  color: $grey-100;
}

a {
  color: inherit;
}

//shared
.forecast-icon {
  max-width: 30px;
}

.forecast-title {
  padding: 20px 10px;
  letter-spacing: 2px;
}

.forecast-temperature {
  display: flex;
  margin-left: auto;
  font-size: 20px;

  &--day {
    color: $grey-100;
  }

  &--night {
    color: $grey-400;
  }

  p {
    padding: 0 3px;
  }
}
